{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="input-field col s12 l6">
                                <input id="name" type="text" class="validate" name="name">
                                <label for="name">Votre Nom</label>
                            </div>
                            <div class="input-field col s12 l6">
                                <input id="email" type="email" class="validate">
                                <label for="email">Votre Email</label>
                            </div>

    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    {% if campaign_name is defined %}
        {% block javascript %}
            <script>
                var inputCampaignTitle = document.querySelector('#campaign_title');
                inputCampaignTitle.value = '{{ campaign_name }}';

            </script>
        {% endblock %}
    {% endif %}
{{ form_end(form) }}

<script>document.querySelector('label[for="campaign_title"]').textContent="Titre";
        document.querySelector('label[for="campaign_content"]').textContent="Description";
        document.querySelector('label[for="campaign_goal"]').textContent="Objectif de la cagnotte";
</script>
