{% extends 'base.html.twig' %}

{% block title %}Campaign{% endblock %}

{% block body %}

<div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <h1 class="header center white-text light">{{ campaign.title }}</h1>
                <div class="row center">
                    <h5 class="header col s12 light">- Organisée par : {{ campaign.name }} -</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="/assets/images/8.jpg" alt="Titre de la campagne"></div>
    </div>

    <!-- Show progress -->
    <section class="progress-section">
        <div class="progress">
            
        </div>
    </section>

    <div class="container participe">
        <div class="section">
            <!-- Participation section -->
            <div class="row">
                <div class="col s12 center">
                    <h4>A propos de la campagne</h4>
                </div>
            </div>
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m6 l3 offset-l3">
                    <div class="icon-block center">
                        <div class="btn-large btn-floating white"><i class="material-icons teal-text">person</i></div>
                        <h3 class="center"></h3>
                        <p class="light">Participations</p>
                    </div>
                </div>

                <div class="col s12 m6 l3">
                    <div class="icon-block center">
                        <div class="btn-large btn-floating white"><i class="material-icons teal-text">redeem</i></div>
                        <h3 class="center"></h3>
                        <p class="light">euros récoltés</p>
                    </div>
                </div>
            </div>
            <!-- Form section -->
            <div class="row">
                <form action="{{ path('spending_process') }}" method="post">

                        <input type="hidden" name="campaign_id" value="{{ campaign.id }}">
                    <div class="input-field col s12 l6">
                        <input id="name" name="name" type="text" class="validate" required>
                        <label for="name">Votre nom</label>
                    </div>
                    <div class="input-field col s12 l6">
                        <input id="email" name="email" type="email" class="validate" required>
                        <label for="email">Votre Email</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="content" name="content" type="text" class="validate">
                        <label for="description">Produit déjà acheté</label>
                    </div>
                    <div class="input-field col s12 l6">
                        <input id="amount_spending" type="number" value="{{ spending_participant|default(0) }}" name="amount">
                        <label for="amount_spending">Valeur des achats</label>
                    </div>
                    <div class="col s12 l6 offset-l3" style="margin-top: 20px;">
                        <button class="btn btn-large waves-effect waves-light col s12" type="submit">
                            Enregistrer les produits
                            <i class="material-icons right">edit</i>
                        </button>
                    </div>
                </form>
            </div>

            <div class="row">
                <form>
                    <div class="input-field col s12">
                        <label for="description">Description</label>
                        <textarea id="description" class="materialize-textarea" readonly="readonly">{{ campaign.content }}</textarea>
                    </div>
                    <div class="input-field col s12 l6">
                        <input id="goal" type="number" readonly="readonly" value="{{ campaign.goal }}">
                        <label for="goal">Objectif</label>
                    </div>
                    <div class="col s12 l6 offset-l3" style="margin-top: 20px;">
                        <a href="{{ path('campaign_edit', {'id': campaign.id}) }}" class="btn btn-large waves-effect waves-light col s12">
                            Modifiez la campagne
                            <i class="material-icons right">edit</i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h4 class="header col s12 light">Une campagne pensée pour vous<br>et pour toutes les occasions</h4>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="/assets/images/10.jpg" alt="Une campagne pensée pour vous"></div>
    </div>

    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Cagnot'Potes</h5>
                    <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo.</p>
                </div>
                <div class="col l3 s12 offset-l3">
                    <h5 class="white-text">Liens</h5>
                    <ul class="footer-links">
                        <li><a class="white-text" href="#!">Comment ça marche ?</a></li>
                        <li><a class="white-text" href="#!">Voir les campagnes</a></li>
                        <li><a class="white-text" href="#!">Créer une campagne</a></li>
                    </ul>
                </div>
            </div>
        </div>

{% endblock %}
